.op-user-hover-card
  gap: 1rem
  overflow: hidden

  // Triangle pointing to the source of the hover card
  &::before
    content: ""
    width: 0
    height: 0
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    border-bottom: 5px solid var(--body-background)
    position: absolute
    top: -0.3rem

  .op-user-hover-card-user-info
    gap: 0.5rem

  .op-user-hover-card-project-list
    gap: 0.5rem
